@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;600&display=swap');

:root{
    --Medium-Blue-Grey: hsl(201, 65%, 88%);
    --High-blue-Grey: hsl(203, 51%, 82%);
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', serif;
    background-color: #17171F;
}

::-webkit-scrollbar {
    width: 20px;
    height: 20px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient( to bottom, #ff850a, #ff3474);
    border-radius: 50px;
}

::-webkit-scrollbar-track {
    background: #474747;
    border-radius: 50px;
    opacity: 50%;
}

.logo_img{
    width: 60px;
    margin-left: 10px;
}

.navbar {
    margin: 0%;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: var(--High-blue-Grey);
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.logo {
    margin-right: 50px;
}

.list {
    list-style: none;
    display: flex;
    gap: 25px;
    margin-right: 10px;
    font-size: 1.2em;
}

.opcion:hover{
    color: rgb(241, 71, 28);
}

#toggler,
.navbar label {
    display: none;
}

.Botones{
    display: flex;
    margin: 30px 20px;
    justify-content: space-between;
}

.Boton_Opcion{
    display: block;
    height: 80px;
    min-width: 212px;
    border-radius: 20px;
    border: none;
    font-size: 2em;
    background-color: #242531;
    cursor: pointer;
    color: beige;
}
.Boton_Opcion:hover{
    background: linear-gradient(135deg, hsla(350, 73%, 44%, 1) 0%, hsla(274, 64%, 12%, 1) 100%);
    transition: 600ms;
}

.texto_opcion{  
    text-decoration: none;
}


.cointeiner_cards{
    padding: 15px;
    min-width: 425px;
    margin: 5px 20px;
    border-radius: 30px;
    background-color: #242531;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.36);
    border-radius: 24px;
}

.Tittle_Cap{
    font-size: 3em;             
    width: auto;
    margin-top: 10px;
    margin-left: 30px;
    color: hsl(240, 32%, 90%);
}

.air-Date{
    font-size: 1.3em;
    width: auto;
    margin-top: 10px;
    margin-left: 30px;
    color: hsl(240, 32%, 90%);
    margin-bottom: 20px;
}

.recommendations-characters{
    display: flex;
}

.characters_card{
    background: linear-gradient(135deg, hsla(242, 58%, 73%, 1) 0%, hsla(157, 72%, 82%, 1) 100%);
    height: auto;
    width: 200px;
    display: grid;
    margin: 10px auto;
    padding: 20px;
    border-radius: 30px;
}

.characters_card:hover{
    transition: 600ms;
    background: linear-gradient(135deg, hsla(350, 73%, 44%, 1) 0%, hsla(274, 64%, 12%, 1) 100%);
    color: #ffff;
    box-shadow: 0 0 20px #000000;
}


.characters_img{
    border-radius: 20px;
    height: 150px;
    margin: auto;
}

.characters_Inf{
    margin: 10px 10px;
    margin-bottom: 0;
    font-size: .8em;
}


/*responsive*/

@media screen and (max-width: 1066px) {
    .menu {
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }
    .hamburguesa {
        transform: rotate(-150);
    }
    .list {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .navbar label {
        display: inline-flex;
        align-items: right;
        cursor: pointer;
    }
    .icon-menu {
        width: 30px;
    }
    .opcion:hover{
        text-align: center;
        border-radius: 50px;
        height: 30px;
        width: 100%;
        background-color: rgba(151, 151, 151, 0.274);
    }
    #toggler:checked~.menu {
        max-height: 100%;
    }
    #hambuergesa:checked~.menu {
        transform: rotate(-90deg);
    }
    #toggler,
    .navbar label {
        height: 30px;
        border: 0px solid;
    }
    .recommendations-characters{
        display: block;
    }
}